<div id="tut-feedback" class="no-bucket text-center">
  Sorry, you did not make the right action. Please try again.
</div>

<div id="overlay"></div>
<div id="clear-overlay" ng-click="toggleIllegalAlert()"></div>
<div id="clear-nobucket-alert-overlay" ng-click="toggleNoBucketAlert()"></div>
<!-- menu -->
<!-- <div id="menu">
  <button class="btn menu-button" ng-click="toggleMenu()">RESUME</button><br/>
  <button class="btn menu-button" ng-click="quit()">QUIT GAME</button><br/>
  <button class="btn menu-button" ng-click="logout()">LOG OUT</button>
</div> -->

<div id="popup">
  <div id='popup-content'>
    <p class='alert-msg'></p>
    <button class="btn menu-button yes-button" ng-click="handleButtonRequest()">Yes</button>
    <button class="btn menu-button" ng-click="togglePopup('', '')">No</button>
  </div>
</div>

<!--<div id="popup2">-->
<!--<div id='popup-content2'>-->
<!--<button class="btn menu-button" ng-click="setUpGame('best')">Play from best matching so far</button>-->
<!--<br/>-->
<!--<button class="btn menu-button" ng-click="setUpGame('saved')">Continue from saved game</button>-->
<!--<br/>-->
<!--<button class="btn menu-button" ng-click="setUpGame('scratch')">Start from scratch</button>-->
<!--<br/>-->
<!--</div>-->
<!--</div>-->
<!--<h3><timer/></h3>-->

<div id="popup3">
  <div id='popup-content3'>
    <button class="btn menu-button" ng-click="quit()">Yes</button>
    <button class="btn menu-button" ng-click="endGame()">Cancel</button>
    <br/>
  </div>
</div>


<div id="player-selected-seed"  class="text-center">
  Are you sure you want to change your current match client?
  <button class="btn menu-button" ng-click="playerSelectedFadeOut();getNextSeed(playerSelectedSeed)">Yes</button>
  <button class="btn menu-button" ng-click="playerSelectedFadeOut()">Cancel</button>
</div>



<div id="replace-popup">
  <div class="popup-title">This alien has an enemy.</div>
  <div id='replace-popup-content'><br/>
    <img ng-src="{{aliens.alienArray[aliens.newId].url}}"
         style=""/>
    <span class="glyphicon glyphicon-share-alt"></span>
    <img ng-src="{{aliens.alienArray[aliens.oldId].url}}" class='replaced'
         style=""/><br/>
    <button class="btn menu-button" ng-click="selectIllegalAlien(true)">Replace</button>
    <button class="btn menu-button" ng-click="selectIllegalAlien(false)">Cancel</button>
  </div>
</div>

<div id="no-buck" class="no-bucket text-center">
  Sorry, this action cannot be completed.<br>
  You did not select a group.
</div>



<div id="ingame-leaderboard2" class="text-center">
  <div class="bg">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">

      <div id="ingame-leaderboard-content2">
        <p class='blink' ng-show="!gotLeaderBoard">Please wait while we save your earnings. It may take a while.</p>
        <p ng-show="!submittedScore">(If nothing happens after a couple of minutes, please click <span ng-click="targetReachedGetNext()" style="pointer:cursor; color:rgb(102,167,227)">here</span>.)</p>


        <p ng-show="gotLeaderBoard">Your total earnings are now <span class="score">${{overallScore}}</span> and
          your rank is now <span class="score">{{overallScoreRank||unranked}}</span>.</p>
        <br/>
        <table class="table text-center" ng-show="gotLeaderBoard">
          <thead>
          <tr>
            <th class="text-center">Player</th>
            <th class="text-center">Earnings</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
            <td>{{ score.user }}</td>
            <td>{{ score.overallScore }}</td>
          </tr>
          </tbody>
        </table>
        <button class="btn menu-button-small" ng-click="getNextClient()" ng-show="gotLeaderBoard">Get next client</button>
        <button class="btn menu-button-small" ng-click="quit()" ng-show="gotLeaderBoard">Exit</button>
      </div>
    </div>
  </div>
</div>


<div id="ingame-leaderboard" class="text-center">
  <div class="bg">
    <div class="col-xs-12">
      <div>
        <div class="col-xs-3"></div>
        <div class="col-xs-6">

          <div id="ingame-leaderboard-content">
            <p>Congrats, you beat the target!</p>
            <br/>
            <p class='blink' ng-show="!gotLeaderBoard">Please wait while we save your earnings. It may take a while.</p>
            <p ng-show="!submittedScore">(If nothing happens after a couple of minutes, please click <span ng-click="targetReachedGetNext()" style="pointer:cursor; color:rgb(102,167,227)">here</span>.)</p>


            <p ng-show="gotLeaderBoard">Your total earnings are now <span class="score">${{overallScore}}</span> and
              your rank is now <span class="score">{{overallScoreRank||unranked}}</span>.</p>
            <br/>
            <table class="table text-center" ng-show="gotLeaderBoard">
              <thead>
              <tr>
                <th class="text-center">Player</th>
                <th class="text-center">Earnings</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
                <td>{{ score.user }}</td>
                <td>{{ score.overallScore }}</td>
              </tr>
              </tbody>
            </table>
            <button class="btn menu-button-small" ng-click="getNextClient()" ng-show="gotLeaderBoard">Get next client</button>
            <button class="btn menu-button-small" ng-click="quit()" ng-show="gotLeaderBoard">Exit</button>
          </div>
        </div>

        <div class="col-xs-3"></div>
      </div>
    </div>
  </div>

</div>

<div id="cant-remove" class="text-center">
  Sorry, you cannot remove this alien. <br>
  You must include it in a grouping that beats
  the target score.
</div>

<div id="start-over" class="text-center">
  Are you sure you would like to start over?<br>
  You will be given a new alien.
  <br>
  <button class="btn menu-button-small" ng-click="getNextSeed()">Yes</button>
  <button class="btn menu-button-small" ng-click="startOverHide();">Cancel</button>
</div>

<div id="skip-level" class="text-center">
  Are you sure you would like to skip this galaxy?<br>
  You will receive match clients from other galaxies instead.
  <br>
  <button class="btn menu-button-small" ng-click="getNextGalaxy()">Yes</button>
  <button class="btn menu-button-small" ng-click="skipLevelHide();">Cancel</button>
</div>


<div id="log-in" class="text-center">
  You have been logged out. Please sign in <a ui-sref="auth">here</a>.
</div>



<span id="feedback">{{feedback}}</span> <span id="small_feedback"></span>

<!-- Zoomed aliens -->
<!--<div id="selection-screen">-->
<!--<div ng-repeat="alien in selectedAliens"-->
<!--class="model{{get_model(alien)}}"-->
<!--style="white-space: nowrap;-->
<!--display: inline-block;-->
<!--width: 22%;-->
<!--margin: 10px 10px 10px 10px;-->
<!--background-color: white;-->
<!--border-radius: 10px;">-->
<!--<div class="selected-alien"-->
<!--ng-click="selectAlien(alien)">-->
<!--<img ng-src="{{getUrl(get_model(alien), get_alien(alien))}}" />-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="close-selection-screen" ng-click="toggleSelectionScreen()">×</div>-->

<!-- alien contents -->
<div id="top-right">
  <!-- <div class="zoom-in-area"
          ng-click="togglePageslide()"
          data-drop="true"
          jqyoui-droppable="{onDrop:'onDropZoom'}">
    <span class="glyphicon glyphicon-zoom-in" size='50px'></span>
  </div> -->
  <div id="img-container"></div>
</div>

<div id="bottom-right">
  <!-- info -->
  <!--<div class="text-center" id="score-board">-->
  <!--<span class='title-font'>YOUR SCORE: <span count-to="{{score}}" value="{{prev_score}}" duration="0.5"></span></span><br/>-->
  <!--<span class='title-font'>BEST SCORE EVER: {{highest_score}}</span>-->
  <!--</div>-->

  <!-- colour list -->
  <!--<div id="add-group text-center">-->
  <!--<p class='colour-error'>You have an empty bucket!</p>-->
  <!--<button id="add-group-button" class="btn" ng-click="newGroup()">Add new group</button>-->
  <!--</div>-->

  <div id="buttons2" ng-show="loaded">
    <!-- error message -->
    <!--<p class='colour-error'>You have an empty bucket!</p>-->
    <button id="redo-button2" class="btn" ng-click="redo()" ng-if="!disableRedo">Redo</button>
    <button id="dummy-redo-button2" class="btn" ng-if="disableRedo">Redo</button>
    <button id="undo-button2" class="btn" ng-click="undo()" ng-if="!disableUndo">Undo</button>
    <button id="dummy-undo-button2" class="btn" ng-if="disableUndo">Undo</button>
    <button id="add-group-button2" class="btn" ng-click="startOver()">Skip this client</button>
    <!--<button id="done-button" class="btn" ng-click="doneBucket()">Calculate Score</button>-->
    <div class='title-font score3 big'>EARNED: $<span count-to="{{score - initialScore}}" value="{{prev_score - initialScore}}" duration="1" ng-show="doneSeeding"></span></div>
    <div class='title-font target big'>TARGET: $<span ng-show="doneSeeding">{{highest_score - initialScore + 1}}</span></div>
    <button id="skip-family2" class="btn" ng-click="skipLevel()">Skip this galaxy</button>
    <button id="end-button2" class="btn" ng-click="endGame()">End game</button>

    <!--<div id="current-group">-->
    <!--<span class="title-font">Current group:</span>-->
    <!--<div ng-click="goToGroup()" id="current-group-color" style="background:{{bucket.buckets[bucket.current_bucket].color}}">-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="title-font small">(Click to go to group)</div>&ndash;&gt;-->
    <!--</div>-->
  </div>



  <!--<div id="buttons">-->
  <!--&lt;!&ndash; <button class="btn menu-button" ng-init="moveAliens = false" ng-click="moveAliens = !moveAliens">{{moveAliens}}</button> &ndash;&gt;-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to save the score?', 'submit')">Submit</button><br/>-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to save the score?', 'save')">Save</button><br/>-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to quit the game?', 'quit')">Quit</button><br/>-->
  <!--</div>-->
</div>

<!-- <div id="aliens">
  <div ng-repeat="alien in aliens.alienArray | toArray"
       class="alien {{alien.id}} {{alien.illegal}} {{alien.similar}}"
       ng-click="selectAlien(alien.id)"
       ng-right-click="showGroup(alien.id)"
       style="background-color: {{alien.color}};">
    <img src="{{alien.url}}"/>
  </div>
</div> -->


<div id="aliens" style='' ng-show="loaded">
  <div ng-repeat="id in bucket.orderedIds">
    <div class="an-alien alien {{id}} {{aliens.alienArray[id].illegal}} {{aliens.alienArray[id].similar}} {{aliens.alienArray[id].isHidden}}"
         ng-click="selectAlien(id, false)"
         ng-right-click="pickSeed(id)"
         style="border-style:solid; border-width: 2vw; border-color: {{aliens.alienArray[id].color}};"
         ng-if="id[0] != '_'">

      <img src="{{aliens.alienArray[id].url}}" imageonload="imageLoadedIncrementCount()"/>
      <div class="simialrity-bar" ng-show='{{aliens.alienArray[id].similarityBar != -1}}'>
        <div class="similarity" style="width: {{aliens.alienArray[id].similarityBar}}%;"></div>
      </div>
    </div>
    <div class="empty-alien" ng-if="id[0] == '_'"></div>
  </div>
</div>



<div id='current-aliens'>
  <!--<button id="seed-button" class="btn" ng-show="!doneSeeding && loaded" ng-click="seedInitialAlien()">-->
  <!--<span id="seed-span">-->
  <!--Get your-->
  <!--FIRST alien!-->
  <!--</span>-->

  <!--</button>-->
  <div ng-repeat="id in bucket.currentAliens"
       class="current-alien {{id}}"
       ng-click="selectAlien(id, false)"
       ng-right-click="pickSeed(id)"
       style="border-style:solid; border-width: 2vw; border-color: {{aliens.alienArray[id].color}};"
       ng-show="loaded">
    <img src="{{aliens.alienArray[id].url}}"/>
    <div class="simialrity-bar" ng-show='{{aliens.alienArray[id].similarityBar != -1}}'>
      <div class="similarity" style="width: {{aliens.alienArray[id].similarityBar}}%;"></div>
    </div>
  </div>
</div>

<img class="loading" ng-show="!loaded" src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif"/>


<div class="tutorial text-center" id="objective" ng-show="tutState==0 && loaded">

  You are a matchmaker, and you get paid based on the quality of the matches you make.

  Your task is to find friends for the alien in the top panel (#2 in this case). The more features

  the aliens have in common, the stronger the match. There are 162 features in total, and you

  can view them all <a target="_blank" ui-sref="properties">here</a>.
  They include accessories, tattoos, facial features, hair, and apparel.

  The stronger the similarity between your group, the more money you will earn. In order to

  make a living, you must earn the target amount shown in the pink box in the bottom right

  corner of the screen.

  <br>
  <button class="btn menu-button" ng-click="tutState=1">Next</button>
</div>



<div class="tutorial text-center" ng-show="tutState==1">
  In the game, other aliens might&#39;ve already formed their own groups. Aliens in the same

  group are shown in boxes with the same colored border. For instance, #8 and #9 form a group

  indicated by the same blue border.
  <br>
  <button class="btn menu-button" ng-click="tutState=2">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==2">
  The red bar below each alien indicates its similarity with other members of its group. A full

  bar means that it is very similar, while an empty bar means that the alien shares few

  characteristics with its group members. It may be beneficial for you to remove aliens with weak

  bonds from their groups since that would not decrease the similarity score of their groups too

  much, and add them to your group if they are similar.
  <br>
  <button class="btn menu-button" ng-click="tutState=3">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==3">
  Aliens that are similar to members of the group you are forming are highlighted in yellow,

  e.g., #1, #3, #6. Aliens that are dissimilar to members of your group appear slightly faded, like

  #4, #5, #7, #8, and #9. Adding highlighted aliens to your group will likely increase your earnings.

  You can left-click on an alien to add it to your group. <b>Please add #3 to your group now.</b>
</div>


<div class="tutorial text-center" ng-show="tutState==4">
  Good job, you&#39;ve reached the target! But you can increase your earnings even more. #6

  looks exactly the same as #2, so it is a better match for #2 than #3 was. Notice that #6 has a

  striped background which means that it is enemies with one of the aliens in your group -


  #3 in this case! If you add #6, it will #3.
  <b>Add #6 now and notice that the score increased.</b>
</div>


<div class="tutorial text-center" ng-show="tutState==5">
  You can return aliens to their previous group, by left-clicking on them.
  <b>Plesse return #6 to its previous group.</b>
</div>

<div class="tutorial text-center" ng-show="tutState==6">
  If you feel that you cannot reach the target, you can skip your current match client and move
  to the next one by clicking &quot;Skip this client&quot;.
  <br>
  <button class="btn menu-button" ng-click="tutState=7">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==7">
  Right-click on an alien to make it your match client.
  <br>
  <button class="btn menu-button" ng-click="tutState=8">Next</button>
</div>


<div class="tutorial text-center" ng-show="tutState==8">
  If you do not like this set of aliens, you can skip to a new galaxy by clicking on
  "Skip this galaxy".
  <br>
  <button class="btn menu-button" ng-click="tutState=9">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==9">
  You've learned all the rules to the game and you are now ready to help some alien clients!
  <br>
  <button class="btn menu-button" ng-click="playGame()">Play!</button>
</div>


<!--<div class="tutorial text-center" ng-show="tutState==7">-->
  <!--&lt;!&ndash;Some tips:<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - try to put aliens with low similarity to their current group into better groups.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - adding highlighted aliens to your current group&ndash;&gt;-->
  <!--&lt;!&ndash;will not always increase your score.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - as you modify the groupings, your score&ndash;&gt;-->
  <!--&lt;!&ndash;may temporarily decrease but don't be discouraged.<br><br>&ndash;&gt;-->
  <!--You are now well-equiped to play! Click to start playing:-->
  <!--<br>-->
  <!--<button class="btn menu-button" ui-sref="game({id: 10})">Play!</button>-->
  <!--</div>

  <!--<div class="tutorial text-center" ng-show="tutState==3">-->
  <!--To modify a group, right click on any alien inside the group-->
  <!--you want to change. The group you selected will appear in the top panel.-->
  <!--<b>Right click on the pink group now.</b>-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==4">-->
  <!--Aliens that share many similar features to your selected group are-->
  <!--highlighted with a yellow background, like #1, #3, #4, and #6. These-->
  <!--aliens have potential to increase your score if you add them to your group.-->
  <!--Left click on an alien to add it to your group. #4 shares-->
  <!--identical properties with #2 and #9 and might be-->
  <!--able to improve your score. <b>Now add #4 to your group.</b> Notice that-->
  <!--your score has gone up!-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==5">-->
  <!--It seems like we can improve our score even more.-->
  <!--#6 looks exactly the same as #2, so let's add it to our group. Notice that #6-->
  <!--has a striped background. This indicates that it is an enemy-->
  <!--with an alien in your current group. Enemy aliens cannot be placed-->
  <!--into the same group. If you choose to add such aliens to your group,-->
  <!--you will be prompted to remove them. <b>Left click on #6.</b> Notice-->
  <!--that your score increased even more!-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==6">-->
  <!--Left click on an alien in the top panel to remove it put it back to its previous group.-->
  <!--<b>Left click on any alien in the top panel now.</b>-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==7">-->
  <!--&lt;!&ndash;Some tips:<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - try to put aliens with low similarity to their current group into better groups.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - adding highlighted aliens to your current group&ndash;&gt;-->
  <!--&lt;!&ndash;will not always increase your score.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - as you modify the groupings, your score&ndash;&gt;-->
  <!--&lt;!&ndash;may temporarily decrease but don't be discouraged.<br><br>&ndash;&gt;-->
  <!--You are now well-equiped to play! Click to start playing:-->
  <!--<br>-->
  <!--<button class="btn menu-button" ui-sref="game({id: 10})">Play!</button>-->
<!--</div>-->

