<div id="tut-feedback" class="no-bucket text-center">
  Sorry, you did not make the right action. Please try again.
</div>

<div id="log-in" class="text-center">
  You have been logged out. Please sign in <a ui-sref="auth">here</a>.
</div>


<div id="overlay"></div>
<div id="clear-overlay" ng-click="toggleIllegalAlert()"></div>
<div id="clear-nobucket-alert-overlay" ng-click="toggleNoBucketAlert()"></div>

<div id="popup">
  <div id='popup-content'>
    <p class='alert-msg'></p>
    <button class="btn menu-button yes-button" ng-click="handleButtonRequest()">Yes</button>
    <button class="btn menu-button" ng-click="togglePopup('', '')">No</button>
  </div>
</div>

<div id="popup3">
  <div id='popup-content3'>
    <button class="btn menu-button" ng-click="submitScore()">Submit score</button>
    <br/>
    <!--<button class="btn menu-button" ng-click="saveScore()">Save for later</button>-->
    <!--<br/>-->
    <button class="btn menu-button" ng-click="quit()">Quit</button>
    <br/>
  </div>
</div>

<div id="replace-popup">
  <div class="popup-title">This alien has an enemy.</div>
  <div id='replace-popup-content'><br/>
    <img ng-src="{{aliens.alienArray[aliens.newId].url}}"
         style=""/>
    <span class="glyphicon glyphicon-share-alt"></span>
    <img ng-src="{{aliens.alienArray[aliens.oldId].url}}" class='replaced'
         style=""/><br/>
    <button class="btn menu-button" ng-click="selectIllegalAlien(true)">Replace</button>
    <button class="btn menu-button" ng-click="selectIllegalAlien(false)">Cancel</button>
  </div>
</div>

<div id="no-buck" class="no-bucket text-center">
  Sorry, this action cannot be completed.<br>
  You did not select a group.
</div>


<div id="target-reached" class="text-center">
  Congrats, you've beaten the target score!
  <p>End the game now or continue playing to increase your score
    even more.</p>
</div>


<div id="cant-remove" class="text-center">
  Sorry, you cannot remove this alien. <br>
  You must include it in a grouping that beats
  the target score.
</div>

<div id="start-over" class="text-center">
  Are you sure you would like to start over?<br>
  You will be given a new alien.
  <br>
  <button class="btn menu-button-small" ng-click="getNextSeed()">Yes</button>
  <button class="btn menu-button-small" ng-click="startOverHide();">Cancel</button>
</div>

<span id="feedback">{{feedback}}</span> <span id="small_feedback"></span>

<div id="top-right">
  <div id="img-container"></div>
</div>

<div id="bottom-right">
  <div id="buttons2" ng-show="loaded">
    <!-- error message -->
    <!--<p class='colour-error'>You have an empty bucket!</p>-->
    <!--<button id="redo-button2" class="btn" ng-click="redo()" ng-if="!disableRedo">Redo</button>-->
    <!--<button id="dummy-redo-button2" class="btn" ng-if="disableRedo">Redo</button>-->
    <!--<button id="undo-button2" class="btn" ng-click="undo()" ng-if="!disableUndo">Undo</button>-->
    <!--<button id="dummy-undo-button2" class="btn" ng-if="disableUndo">Undo</button>-->
    <button id="add-group-button2" class="btn" ng-click="startOver()">Skip this client</button>
    <!--<button id="done-button" class="btn" ng-click="doneBucket()">Calculate Score</button>-->
    <div class='title-font score2 big'>EARNED: $<span count-to="{{score - initialScore}}" value="{{prev_score - initialScore}}" duration="1"></span></div>
    <div class='title-font target big'>TARGET: $<span>{{highest_score - initialScore + 1}}</span></div>

    <!--<button id="end-button2" class="btn" ng-click="endGame()">End game</button>-->
  </div>
</div>


<div id="aliens" style=''>
  <div ng-repeat="id in bucket.orderedIds">
    <div class="an-alien alien {{id}} {{aliens.alienArray[id].illegal}} {{aliens.alienArray[id].similar}} {{aliens.alienArray[id].isHidden}}"
         ng-click="selectAlien(id)"
         style="border-style:solid; border-width: 2vw; border-color: {{aliens.alienArray[id].color}};"
         ng-if="id[0] != '_'">

      <img src="{{aliens.alienArray[id].url}}" imageonload="imageLoadedIncrementCount()"/>
      <div class="simialrity-bar" ng-show='{{bucket.getAlienScore(id) != -1}}'>
        <div class="similarity" style="width: {{bucket.getAlienScore(id)}}%;"></div>
      </div>
      <div class="empty-alien" ng-if="id[0] == '_'"></div>
    </div>

  </div>
</div>

<img class="loading" ng-show="!loaded" src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif"/>


<div id='current-aliens'>
  <!--<button id="seed-button" class="btn" ng-show="!doneSeeding && loaded" ng-click="seedInitialAlien()">-->
  <!--<span id="seed-span">-->
  <!--Get your-->
  <!--FIRST alien!-->
  <!--</span>-->

  <!--</button>-->
  <div ng-repeat="id in bucket.currentAliens"
       class="current-alien {{id}}"
       ng-click="selectAlien(id)"
       style="border-style:solid; border-width: 2vw; border-color: {{aliens.alienArray[id].color}};">
    <img src="{{aliens.alienArray[id].url}}"/>
    <div class="simialrity-bar" ng-show='{{bucket.getBucketScore(id) != -1}}'>
      <div class="similarity" style="width: {{bucket.getAlienScore(id)}}%;"></div>
    </div>
  </div>
</div>

<div class="tutorial text-center" id="objective" ng-show="tutState==0 && loaded">
  You are a matchmaker. Your goal is to help the alien client in the top panel (#2 in this case)
  form a clique of friends, by matching aliens that share identical features.
  Features include accessories, tattoos, facial features, hair, or apparel.
  There are a total of 162 features and you may view them all <a target="_blank" ui-sref="properties">here</a>.
  The stronger the similarity between the members of your clique, the more money you will earn.
  In order to make a living, you must earn the target amount shown in the pink box
  in the bottom right corner of the screen.
  <br>
  <button class="btn menu-button" ng-click="tutState=1">Next</button>
</div>


<div class="tutorial text-center" ng-show="tutState==1">
  In the game, other aliens might've already formed their own cliques. Aliens in
  the same clique appear in boxes with the same colored border. For instance,
  #8 and #9 both have a blue border color so they form a clique.
  <br>
  <button class="btn menu-button" ng-click="tutState=2">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==2">
  The red bar below each alien indicates the strength
  of its bond with its clique. A full bar means that it loves
  its clique and is less willing to leave, while an empty bar means that the alien dislikes its clique and
  is more willing to leave.
  Sometimes, it may be beneficial for you to add similar aliens with a weak
  bond to your clique, since they have a high chance of forming a strong bond.
  <br>
  <button class="btn menu-button" ng-click="tutState=3">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==3">
  Aliens that are similar to your clique are
  highlighted with a yellow background, like #1, #3, #6.
  On the other hand, aliens that bear little similarity with your clique are slightly
  faded, like #4, #5, #7, #8, and #9. Adding highlighted aliens to your clique will have the
  most potential to increase your earnings. You can left click on an
  alien to add it to your clique. #3 is similar to #2,
  and may increase your score, <b>add to your clique #3 now</b>.
</div>


<div class="tutorial text-center" ng-show="tutState==4">
  Good job, you've reached the target!
  But it seems like we can improve the score even more.
  #6 looks exactly the same as #2, so it is a better match for #2 than #3 is.
  Notice that #6
  has a striped background. Aliens with a striped background
  are enemies with an alien in your clique. Enemies should not be placed
  into the same group and you will be prompted to remove enemies. If you remove
  an enemy alien, it will return to its previous clique. Sometimes, like in this
  case, adding an enemy alien can help improve your earnings because the
  it is more to your clique than the replaced one.
  <b>Add #6 to your clique now by left-clicking on it.</b>
</div>


<div class="tutorial text-center" ng-show="tutState==5">
  You can add aliens back to their previous clique, except the one you are helping (i.e. #2),
  by left clicking on the alien.
  <b>Left click #6 now.</b>
</div>

<div class="tutorial text-center" ng-show="tutState==6">
  If you feel that you cannot reach the target, feel free to skip your current
  client and move on to the next by clicking "Skip this client".
  <br>
  <button class="btn menu-button" ng-click="tutState=7">Next</button>
</div>

<div class="tutorial text-center" ng-show="tutState==7">
  You've learned all the rules to the game and you are now ready to help some alien clients!
  <br>
  <button class="btn menu-button" ui-sref="game4({id: 10})">Play!</button>
</div>


<!--<div class="tutorial text-center" ng-show="tutState==7">-->
  <!--&lt;!&ndash;Some tips:<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - try to put aliens with low similarity to their current group into better groups.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - adding highlighted aliens to your current group&ndash;&gt;-->
  <!--&lt;!&ndash;will not always increase your score.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - as you modify the groupings, your score&ndash;&gt;-->
  <!--&lt;!&ndash;may temporarily decrease but don't be discouraged.<br><br>&ndash;&gt;-->
  <!--You are now well-equiped to play! Click to start playing:-->
  <!--<br>-->
  <!--<button class="btn menu-button" ui-sref="game({id: 10})">Play!</button>-->
  <!--</div>

  <!--<div class="tutorial text-center" ng-show="tutState==3">-->
  <!--To modify a group, right click on any alien inside the group-->
  <!--you want to change. The group you selected will appear in the top panel.-->
  <!--<b>Right click on the pink group now.</b>-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==4">-->
  <!--Aliens that share many similar features to your selected group are-->
  <!--highlighted with a yellow background, like #1, #3, #4, and #6. These-->
  <!--aliens have potential to increase your score if you add them to your group.-->
  <!--Left click on an alien to add it to your group. #4 shares-->
  <!--identical properties with #2 and #9 and might be-->
  <!--able to improve your score. <b>Now add #4 to your group.</b> Notice that-->
  <!--your score has gone up!-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==5">-->
  <!--It seems like we can improve our score even more.-->
  <!--#6 looks exactly the same as #2, so let's add it to our group. Notice that #6-->
  <!--has a striped background. This indicates that it is an enemy-->
  <!--with an alien in your current group. Enemy aliens cannot be placed-->
  <!--into the same group. If you choose to add such aliens to your group,-->
  <!--you will be prompted to remove them. <b>Left click on #6.</b> Notice-->
  <!--that your score increased even more!-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==6">-->
  <!--Left click on an alien in the top panel to remove it put it back to its previous group.-->
  <!--<b>Left click on any alien in the top panel now.</b>-->
<!--</div>-->

<!--<div class="tutorial text-center" ng-show="tutState==7">-->
  <!--&lt;!&ndash;Some tips:<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - try to put aliens with low similarity to their current group into better groups.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - adding highlighted aliens to your current group&ndash;&gt;-->
  <!--&lt;!&ndash;will not always increase your score.<br>&ndash;&gt;-->
  <!--&lt;!&ndash; - as you modify the groupings, your score&ndash;&gt;-->
  <!--&lt;!&ndash;may temporarily decrease but don't be discouraged.<br><br>&ndash;&gt;-->
  <!--You are now well-equiped to play! Click to start playing:-->
  <!--<br>-->
  <!--<button class="btn menu-button" ui-sref="game({id: 10})">Play!</button>-->
<!--</div>-->


<img class="loading" ng-show="!loaded" src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif"/>

