<section id="login">
  <div class="">
    <div class="">
      <div class="form-wrap">
        <div class="text-center" id="title-normal">Pick a username and password.</div>
        <br>
        <form ng-submit="process()">
          <div class="form-group">
            <input id="name" type="text" placeholder="Username" ng-model="username" required="" autofocus="" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input id="pass" type="password" placeholder="Password" ng-model="password" required="" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input id="email" type="email" placeholder="Email" ng-model="email" class="form-control input-lg">
            <label>*Include your e-mail if you would like to win PokeCoins or a Starbucks giftcard.</label>
          </div>
          <div class="form-group">
            <input id="btn-login" type="submit" value="Continue" class="btn btn-login btn-lg btn-block">
          </div>
          <alert type="danger" ng-show="taken">Sorry, this username is in use. Please pick another one.</alert>
        </form>
        <div class="forget">
          <div class="sign-up">
            Already have an account?<a ui-sref="auth"> Log in!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
