$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@font-face {
  font-family: 'Lovelo Black';
  src: url('../assets/fonts/Lovelo Black.otf');
}

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Signika');

//    font-family: 'anagram';
//    src: url(/assets/Anagram.ttf);
//}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: rgb(241,241,241);

}


body {
  //background-color: rgb(29, 31, 44);
  //background-color: rgb(146, 227, 255);

  font-family: "Signika";

  background: url(http://individual.utoronto.ca/myricecrispi/game/gamebg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}




// Component styles are injected through grunt
// injector
@import 'auth/auth.scss';
@import 'game2/game2.scss';
@import 'howto/howto.scss';
@import 'leaderboard/leaderboard.scss';
@import 'level-one/level-one.scss';
@import 'levelcomplete/levelcomplete.scss';
@import 'main/main.scss';
@import 'scoreboard/scoreboard.scss';
@import 'signup/signup.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
