$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Exo:900');


@font-face {
  font-family: 'Lovelo Black';
  src: url('../assets/fonts/Lovelo Black.otf');
}
//    font-family: 'anagram';
//    src: url(/assets/Anagram.ttf);
//}

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  //background-image: url(/assets/images/gamebg.png);
  //background-image: url(/assets/images/gamebg.c9fff19b.png);
  //background-image: url(/assets/images/8.png);
  //background-size: 100%;
  background-color: rgb(61, 67,97);
}




// Component styles are injected through grunt
// injector
@import 'auth/auth.scss';
@import 'level-one/level-one.scss';
@import 'levelcomplete/levelcomplete.scss';
@import 'main/main.scss';
@import 'scoreboard/scoreboard.scss';
@import 'signup/signup.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
