#leaderboard {
  table {
    color:gray;
  }

  .score {
    font-size: 20px;
    color: rgb(252, 61, 93);
    font-family: 'Lovelo Black';
  }
}


#player-results {
  background-color: #FFFC8A;
  border-radius: 5px;
  padding: 30px;
  font-size: 20px;
  color: gray;

}
