.container {
  // width: 100%;
}

#menu {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

#selection-screen {
  position: fixed;
  width: 90%;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.selected-alien img {
  width: 100%;
}

#close-selection-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  z-index: 20;
  font-weight: bold;
}


#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}


#bottom-right {
  position: fixed;
  bottom:2%;
  right: 3%;
  z-index: 8;
}

#middle-right {
  position: fixed;
  top: 40%;
  width: 230px;
  right: 2.4%;
  text-align: center;
  color: #00d4b4;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
}

#legend {
  min-height: 5px;
  width: 230px;
  right: 2.4%;
}

#top-right {
  position: fixed;
  width: 230px;
  right: 2%;
  text-align: center;
  margin-top: 5px;
}

#score-board {
  color: #00d4b4;
  font-family: Impact, Charcoal, sans-serif;

}

#score-board p {
  margin-top: 5px;
  display: inline-block;
}

#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Impact, Charcoal, sans-serif;
  text-shadow: 0px 0px 3px #000000;
  color: rgb(255,121,121);
  font-size: 100px;
}

.menu-button {
  margin-top: 10px;
  width: 200px;
  display: inline-block;
  color: #fff;
  background-color: #00d4b4;
  &:hover {
    color: #fff;
    background-color: #e55f49;
  }
  &:focus {
    color: #fff;
    background-color: #e55f49;
  }
}

#img-container {
  text-align: center;
}

#img-container img {
  width: 100%;
}

#aliens {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 161px;
}

#aliens img {
  z-index: 8;
  width: 100%;
}

.model0, .model1, .model2, .model3, .model4, .model5,
.model5, .model6, .model7, .model8, .model9, .illegal_alien {
  width: 100px;
}

.model0 img {
  border-radius: 10px;
  background-color: rgba(0, 235, 255, 0.27);
}

.model1 img {
  border-radius: 10px;
  background-color: rgba(252, 176, 255, 0.27);
}

.model2 img {
  border-radius: 10px;
  background-color: rgba(173, 255, 171, 0.27);
}

.model3 img {
  border-radius: 10px;
  background-color: rgba(255, 194, 150, 0.27);
}

.model4 img {
  border-radius: 10px;
  background-color: rgba(120, 100, 228, 0.27);
}

.model5 img {
  border-radius: 10px;
  background-color: rgba(235, 199, 0, 0.27);
}

.model6 img {
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.27);
}

.model7 img {
  border-radius: 10px;
  background-color: rgba(0, 0, 150, 0.27);
}

.model8 img {
  border-radius: 10px;
  background-color: rgba(150, 44, 0, 0.27);
}

.model9 img {
  border-radius: 10px;
  background-color: rgba(0, 133, 0, 0.27);
}

.illegal_alien img {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.12);
}
//
//#buckets {
//  position: fixed;
//  left: 0px;
//  top: 0px;
//  width: 220px;
//  height: 100%;
//  overflow-y: scroll;
//  overflow-x: hidden;
//  padding: 10px 0px 0px 0px;
//  background-color: #00d4b4;
//  z-index: 0;
//}
//
//.bucket {
//  position: relative;
//  white-space: nowrap;
//  display:inline-block;
//  background-color: rgba(255, 255, 255, 0.80);
//  border-radius: 10px;
//  margin: 0px 10px 5px 10px;
//  width: 200px;
//  height: 150px;
//  z-index: 1;
//}
//
//.current_bucket {
//  background-color: white;
//}
//
//.bucket .remove_bucket {
//  position: absolute;
//  bottom: 0px;
//  right: 5px;
//  color: dimgray;
//  font-size: 20px;
//}

.selectedAlien {
  border-radius:10px;
  box-shadow: 0px 0px 0px 1px
}
