body {
  // background-image: url("level-one/backup_aliens/background_img.png");
  // background-size: 100%;
  // background-repeat: no-repeat;
  background-color: lightslategray;
  //color: white;
}

.container {
  width: 100%;
}

#menu_panel {
    background-color: black;
    height: 100%;
    overflow: hidden;
    transition: width 1s;
    -webkit-transition: width 1s;
}

#menu_content {
  text-align: right;
  margin-right: 10px;
}

#top-right {
  position: fixed;
  width: 25%;
  right: 0px;
}

#info-board {
  text-align: right;
  background-color: black;
  width: auto;
}

#img-container {
  text-align: center;
}

#img-container img {
  width: 100%;
}

#aliens {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 200px;
}

#aliens img {
  z-index: -1;
  width: 100%;
}

.model0 {
  width: 10%;
}

.model1 {
  width: 10%;
}

.model2 {
  width: 10%;
}

.model3 {
  width: 10%;
}

.model4 {
  width: 10%;
}

.model5 {
  width: 10%;
}

.model6 {
  width: 10%;
}

.model7 {
  width: 10%;
}

.model8 {
  width: 10%;
}

.model9 {
  width: 10%;
}

.illegal_alien {
  width: 10%;
}

.model0 img {
  border-radius: 50%;
  background-color: rgba(0, 235, 255, 0.27);
}

.model1 img {
  border-radius: 50%;
  background-color: rgba(252, 176, 255, 0.27);
}

.model2 img {
  border-radius: 50%;
  background-color: rgba(173, 255, 171, 0.27);
}

.model3 img {
  border-radius: 50%;
  background-color: rgba(255, 194, 150, 0.27);
}

.model4 img {
  border-radius: 50%;
  background-color: rgba(120, 100, 228, 0.27);
}

.model5 img {
  border-radius: 50%;
  background-color: rgba(235, 199, 0, 0.27);
}

.model6 img {
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.27);
}

.model7 img {
  border-radius: 50%;
  background-color: rgba(0, 0, 150, 0.27);
}

.model8 img {
  border-radius: 50%;
  background-color: rgba(150, 44, 0, 0.27);
}

.model9 img {
  border-radius: 50%;
  background-color: rgba(0, 133, 0, 0.27);
}

.illegal_alien img {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
}

#buckets {
  position: sticky;
  bottom: 0px;
  min-width: 100%;
  height: 170px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px 5px 0px 5px;
}

.bucket {
  position: relative;
  white-space: nowrap;
  display:inline-block;
  background-color: rgba(255, 255, 255, 0.90);
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  width: 200px;
  height: 150px;
  z-index: 1;
}

.current_bucket {
  background-color: white;
}

.bucket .remove_bucket {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: dimgray;
  font-size: 20px;
}
