<html>
<head>
</head>

<body>
<div class="container">
  <div id="img-container"></div>
  <!--display aliens in grid-->
    <div class="model" ng-repeat="m in currentAliens track by $index" id="model_{{$index}}">
      <div class="group">
        <div ng-mouseover=selectedAlien($index)
             ng-dblclick=putBackAlien($index)
             class="alien"
             id="{{$index}}_{{m}}"
             data-drag="true"
             data-jqyoui-options="{'revert': 'valid', 'revertDuration': 0}"
             jqyoui-draggable>
          <img src={{alienData[$index].alien[m].img}} width="90px">
        </div>
      </div>
      <div class="nextButton"
           style="font-size: 20px"
           ng-click=getNextAlien($index)>NEXT</div>
      <br/>
    </div>
  <div class="allNextButton"
       style="font-size: 20px"
       ng-click=allNextAlien()>NEXT</div>

</div>


<!--buckets-->
<div id="buckets">
  <div ng-repeat="b in buckets" class="bucket" id="bucket_{{b.bucket}}">
    <div class="actual-bucket"
         data-drop="true"
         data-jqyoui-options
         jqyoui-droppable="{onDrop:'onDrop'}">
      <div ng-repeat="a in b.alien"
           ng-mouseover=selectedAlien(a.model)
           ng-dblclick=putBackAlien(a.model)
           class="bucket_alien"
           id="{{a.model}}_{{a.alien}}"
           data-drag="true"
           data-jqyoui-options="{'revert': 'valid'}"
           jqyoui-draggable="{'animate': 'false'}">
        <img ng-src='app/level-one/backup_aliens/model{{a.model}}_{{a.alien}}.png'
          width="40px">
      </div>
    </div>


    <div class="remove_bucket" ng-click=deleteBucket($event)>
      ×
    </div>
  </div>

  <div id="add-bucket" ng-click=addBucket()>
    <p>+</p>
  </div>
</div>


</body>

</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>LEVEL 1</title>-->

<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<!--<script src="level-one.js"></script>-->
<!--<script src="level-one.controller.js"></script>-->
<!--</head>-->

<!--<body ng-app="levelOne">-->
<!--<div class="container" ng-controller="LevelOneController">-->
<!--<div class="alien"><img src="./backup_aliens/model{{modelnum}}_{{aliennum}}.png" width="10%"></div>-->
<!--<div ng-repeat="model in models">-->
<!--<div ng-repeat="alien in aliens">-->
<!--<div class="alien"><img src="./backup_aliens/model{{$index}}_{{ aliennum }}.png" width="10%"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
