<div id="overlay"></div>
<!-- menu -->
<!-- <div id="menu">
  <button class="btn menu-button" ng-click="toggleMenu()">RESUME</button><br/>
  <button class="btn menu-button" ng-click="quit()">QUIT GAME</button><br/>
  <button class="btn menu-button" ng-click="logout()">LOG OUT</button>
</div> -->


<div id="popup">
  <div id='popup-content'>
    <p class='alert-msg'></p>
    <button class="btn menu-button yes-button" ng-click="handleButtonRequest()">Yes</button>
    <button class="btn menu-button" ng-click="togglePopup('', '')">No</button>
  </div>
</div>

<div id="popup2">
  <div id='popup-content2'>
    <button class="btn menu-button" ng-click="setUpGame('best')">Play from best matching so far</button>
    <br/>
    <button class="btn menu-button" ng-click="setUpGame('saved')">Continue from saved game</button>
    <br/>
    <button class="btn menu-button" ng-click="setUpGame('scratch')">Start from scratch</button>
    <br/>
  </div>
</div>


<div id="popup3">
  <div id='popup-content3'>
    <button class="btn menu-button" ng-click="submitScore()">Submit score</button>
    <br/>
    <button class="btn menu-button" ng-click="saveScore()">Save for later</button>
    <br/>
    <button class="btn menu-button" ng-click="quit()">Quit</button>
    <br/>
  </div>
</div>


<span id="feedback">{{feedback}}</span> <span id="small_feedback"></span>

<!-- Zoomed aliens -->
<!--<div id="selection-screen">-->
<!--<div ng-repeat="alien in selectedAliens"-->
<!--class="model{{get_model(alien)}}"-->
<!--style="white-space: nowrap;-->
<!--display: inline-block;-->
<!--width: 22%;-->
<!--margin: 10px 10px 10px 10px;-->
<!--background-color: white;-->
<!--border-radius: 10px;">-->
<!--<div class="selected-alien"-->
<!--ng-click="selectAlien(alien)">-->
<!--<img ng-src="{{getUrl(get_model(alien), get_alien(alien))}}" />-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="close-selection-screen" ng-click="toggleSelectionScreen()">×</div>-->

<!-- alien contents -->
<div id="top-right">
  <!-- <div class="zoom-in-area"
          ng-click="togglePageslide()"
          data-drop="true"
          jqyoui-droppable="{onDrop:'onDropZoom'}">
    <span class="glyphicon glyphicon-zoom-in" size='50px'></span>
  </div> -->
  <div id="img-container"></div>
</div>

<div id="bottom-right">
  <!-- info -->
  <!--<div class="text-center" id="score-board">-->
  <!--<span class='title-font'>YOUR SCORE: <span count-to="{{score}}" value="{{prev_score}}" duration="0.5"></span></span><br/>-->
  <!--<span class='title-font'>BEST SCORE EVER: {{highest_score}}</span>-->
  <!--</div>-->

  <!-- colour list -->
  <!--<div id="add-group text-center">-->
  <!--<p class='colour-error'>You have an empty bucket!</p>-->
  <!--<button id="add-group-button" class="btn" ng-click="newGroup()">Add new group</button>-->
  <!--</div>-->

  <div id="buttons">
    <!-- error message -->
    <!--<p class='colour-error'>You have an empty bucket!</p>-->
    <button id="undo-button" class="btn" ng-click="redo()">Redo</button>
    <button id="redo-button" class="btn" ng-click="undo()">Undo</button>
    <button id="add-group-button" class="btn" ng-click="newGroup()">Add new group</button>

    <div class='title-font big'>SCORE: {{score}}</div>
    <div class='title-font small'>(Best player score: {{highest_score}})</div>
    <button id="end-button" class="btn" ng-click="endGame()">End game</button>
    <div id="current-group">
      <span class="title-font">Current group:</span>
      <div id="current-group-color" style="background:{{bucket.buckets[bucket.current_bucket].color}}">
      </div>
      <div class="title-font small">(Click to go to group)</div>
    </div>
  </div>



  <!--<div id="buttons">-->
  <!--&lt;!&ndash; <button class="btn menu-button" ng-init="moveAliens = false" ng-click="moveAliens = !moveAliens">{{moveAliens}}</button> &ndash;&gt;-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to save the score?', 'submit')">Submit</button><br/>-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to save the score?', 'save')">Save</button><br/>-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to quit the game?', 'quit')">Quit</button><br/>-->
  <!--</div>-->
</div>

<div id="aliens">
  <div ng-repeat="alien in aliens.alienArray | toArray"
       class="alien {{alien.id}} {{alien.illegal}} {{alien.similar}}"
       ng-click="selectAlien(alien.id)"
       ng-right-click="showGroup(alien.id)"
       style="background-color: {{alien.color}};">
    <img src="{{alien.url}}"/>
  </div>
</div>

<!-- Page slide -->

<!-- ng-mouseenter="showHighlightAlien(alien.id, true)"
ng-mouseleave="showHighlightAlien(alien.id, false)" -->
  <div ng-show="checked" class="sidenav">
      <div id="section" resizable r-directions="['right']" r-width="150" style="background-color: transparent;">
        <div ng-repeat="alien in aliens.zoominAliens"
             class="zoomed-alien {{alien.id}} {{alien.illegal}}"
             style="background-color: {{alien.color}};"
             ng-click="selectAlien(alien.id)">
          <img src="{{alien.url}}"/>
        </div>

      </div>
    </div>
