<html>
<head>
</head>

<body>

<!-- menu bar -->
<div pageslide ps-open="checked" id="menu_panel">
    <div id="menu_content">
        <h2>Hello Pageslide</h2>
        <p>Put here whatever you want</p>
        <a ng-click="toggle()" class="button" >Close</a>
    </div>
</div>

<!-- alien contents -->
<div class="container"
     data-drop="true"
     data-jqyoui-options
     jqyoui-droppable="{onDrop:'return false;'}">

  <div id="top-right">
    <div id="info-board">
      <a class="large button" href="" ng-click="toggle()">Open Demo</a> <br/>
      SCORE: {{score}}
    </div><br/>

    <div id="img-container"></div>
  </div>

  <!--display aliens in grid-->
  <div id="aliens">
    <div ng-repeat="alien in alienArray"
         ng-mouseover=selectedAlien(alien.id)
         class="{{alien.model}}"
         id="{{alien.id}}"
         data-drag="true"
         data-jqyoui-options="{'revert': 'valid', 'revertDuration': 0}"
         jqyoui-draggable
         style="display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;">
      <img src="{{alien.url}}"/>
    </div>
  </div>
</div>

<!--buckets-->
<div id="buckets"
     data-drop="true"
     data-jqyoui-options
     jqyoui-droppable="{onDrop:'return false;'}">
  <div ng-repeat="b in buckets track by $index" class="bucket" id="bucket_{{$index}}"
       ng-click="currentBucket($index)"
       data-drop="true"
       data-jqyoui-options
       jqyoui-droppable="{onDrop:'onDrop'}">
      <div ng-repeat="a in b.alien"
           ng-mouseover=selectedAlien(a)
           ng-dblclick="putBackAlien($event, a)"
           class="model{{get_model(a)}}"
           id="{{a}}"
           style="z-index: 3;
                width: 25%;
                display: inline-block;
                float: left;">
        <img style="width: 100%;"
             ng-src="{{getUrl(get_model(a), get_alien(a))}}" />
    </div>


    <div class="remove_bucket" ng-if="ifNotLast($index)" ng-click="deleteBucket($event)">
      ×
    </div>
  </div>
</div>

</body>

</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>LEVEL 1</title>-->

<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<!--<script src="level-one.js"></script>-->
<!--<script src="level-one.controller.js"></script>-->
<!--</head>-->

<!--<body ng-app="levelOne">-->
<!--<div class="container" ng-controller="LevelOneController">-->
<!--<div class="alien"><img src="./backup_aliens/model{{modelnum}}_{{aliennum}}.png" width="10%"></div>-->
<!--<div ng-repeat="model in models">-->
<!--<div ng-repeat="alien in aliens">-->
<!--<div class="alien"><img src="./backup_aliens/model{{$index}}_{{ aliennum }}.png" width="10%"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
