body {
  color: white;
}

// #menu {
//   color: white;
//   position: fixed;
//   background-color: white;
//   border-radius: 20px;
//   width: 200px;
//   height: 140px;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   z-index: 10;
//   text-align: center;
//   display: none;
// }

#popup {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content {
  padding: 20px;
  color: grey;
}


#popup2 {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 160px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content2 {
  padding: 20px;
  color: grey;
}

#popup-content .btn {
  bottom: 0;
}

// #selection-screen {
//   position: fixed;
//   width: 90%;
//   z-index: 10;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.selected-alien img {
  width: 100%;
}

#close-selection-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  z-index: 20;
  font-weight: bold;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  display: none;
}

 #bottom-right {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 2px;
  z-index: 8;
}

#bottom-right .title-font {
  font-family: 'Londrina Outline';
  font-size: 2em;
  font-weight: bold;
  color: black;
}

#bottom-right #score-board {
  left: 0;
  text-align: left;
}

.menu-button {
  margin: 5px;
  width: 200px;
  display: inline-block;
  color: #fff;
  background-color: #9999ff;
}

#bottom-right #group-container {
  display: block;
  text-align: center;
}

#bottom-right .add-colour {
  cursor: pointer;
}

#bottom-right .colour-error {
  display: none;
  position: absolute;
}

#bottom-right #score-board {
  margin-bottom: 0;
  float: left;
}

#bottom-right #score-board p {
  margin-top: 5px;
  display: inline-block;
}

#bottom-right #buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}

#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 3px #000000;
  color: rgb(255,121,121);
  font-size: 100px;
  font-family: 'Londrina Outline';
}

#img-container {
  text-align: center;
}

#img-container img {
  width: 100%;
}

#aliens {
  margin: 10px;
  margin-bottom: 5em;
  //background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 5px;
  //padding: 2px;
}

#aliens img {
  z-index: 8;
  width: 100%;
}

.alien {
  width: 200px;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
}

.illegal_alien {
  border-radius: 10px;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 25px,
      rgba(255, 255, 255, .5) 10px,
      rgba(255, 255, 255, .5) 30px
  )
}

.current_bucket {
  transform: scale(1.6);
  text-align: center;
  text-shadow: 0.2px 0 0 #000, -0.2px 0 0 #000, 0 0.2px 0 #000, 0 -0.2px 0 #000, 0.2px 0.2px #000,
  -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000;
  color: white;
}

// Pageslide
.ng-pageslide {
  background-color: rgba(255, 255, 255, 0);
  overflow: scroll !important;
}


.zoomed-alien {
  display: inline-block;
}

.zoomed-alien img {
  height: 200px;
  width: auto;
}

.similar-alien {
  // box-shadow: #FFD736 0 0 10px;
  // border-radius: 10px;
}
