body {
  color: white;
 // font-family: 'Londrina Outline';
}

#menu {
  color: white;
  font-family: 'Londrina Outline';
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 200px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#selection-screen {
  position: fixed;
  width: 90%;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.selected-alien img {
  width: 100%;
}

#close-selection-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  z-index: 20;
  font-weight: bold;
}


// #overlay {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 9;
// }
//

#bottom-right {
  position: fixed;
  bottom:2%;
  right: 3%;
  z-index: 8;
}

#score-board {
  text-align: left;
}

#bottom-right .menu-button {
  margin: 5px;
  width: 70px;
  display: inline-block;
  color: #fff;
  background-color: #9999ff;
  font-family: Arial;
  &:hover {
    color: #fff;
    background-color: rgb(180,125,251);
  }
  &:focus {
    color: #fff;
    background-color: rgb(180,125,251);
  }
}

#middle-right {
  position: fixed;
  top: 48%;
  width: 200px;
  right: 2.4%;
  text-align: center;
  font-size: 25px;
}

#middle-right #group-container {
  display: inline-block;
}

#middle-right .add-colour {
  background-color: white;
  color: #9999ff;
  border-radius: 50%;
}

#middle-right .add-colour:hover {
  color: rgb(180,125,251);
}

#middle-right .colour-error {
  font-family: Arial;
  font-size: 15px;
  display: none;
}

#legend {
  min-height: 5px;
  width: 230px;
  right: 2.4%;
}

#top-right {
  position: fixed;
  width: 200px;
  right: 2%;
  text-align: center;
  margin-top: 5px;
}

#score-board {
  margin-bottom: 0;
}

#score-board p {
  margin-top: 5px;
  display: inline-block;
}

#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 3px #000000;
  color: rgb(255,121,121);
  font-size: 100px;
}

#img-container {
  text-align: center;
}

#img-container img {
  width: 100%;
}

#aliens {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 161px;
  //background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 5px;
  //padding: 2px;
}

#aliens img {
  z-index: 8;
  width: 100%;
}

.model0, .model1, .model2, .model3, .model4, .model5,
.model5, .model6, .model7, .model8, .model9, .illegal_alien{
  width: 100px;
  background-color: rgba(255,255,255,.5);
}
//
// .model0 img {
//   border-radius: 10px;
//   background-color: rgba(255,255,255,.5);
//   // background-color: rgba(230, 250, 255, 1);
// }
//
// .model1 img {
//   border-radius: 10px;
//   background-color: rgba(255, 230, 255, 1);
// }
//
// .model2 img {
//   border-radius: 10px;
//   background-color: rgba(179, 224, 255, 1);
// }
//
// .model3 img {
//   border-radius: 10px;
//   background-color: rgba(255, 224, 179, 1);
// }
//
// .model4 img {
//   border-radius: 10px;
//   background-color: rgba(255, 204, 204, 1);
// }
//
// .model5 img {
//   border-radius: 10px;
//   background-color: rgba(255, 255, 204, 1);
// }
//
// .model6 img {
//   border-radius: 10px;
//   background-color: rgba(236, 255, 179, 1);
// }
//
// .model7 img {
//   border-radius: 10px;
//   background-color: rgba(236, 217, 198, 1);
// }
//
// .model8 img {
//   border-radius: 10px;
//   background-color: rgba(153, 255, 187, 1);
// }
//
// .model9 img {
//   border-radius: 10px;
//   background-color: rgba(179, 255, 236, 1);
// }

.illegal_alien img {
  border-radius: 10px;
  background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 10px,
      rgba(0, 0, 0, 0.3) 10px,
      rgba(0, 0, 0, 0.3) 20px
  )
}
//
//#buckets {
//  position: fixed;
//  left: 0px;
//  top: 0px;
//  width: 220px;
//  height: 100%;
//  overflow-y: scroll;
//  overflow-x: hidden;
//  padding: 10px 0px 0px 0px;
//  background-color: #00d4b4;
//  z-index: 0;
//}
//
//.bucket {
//  position: relative;
//  white-space: nowrap;
//  display:inline-block;
//  background-color: rgba(255, 255, 255, 0.80);
//  border-radius: 10px;
//  margin: 0px 10px 5px 10px;
//  width: 200px;
//  height: 150px;
//  z-index: 1;
//}
//
.current_bucket {
  transform: scale(1.6);
  font-size: 10px;
  color: white;
}
//
//.bucket .remove_bucket {
//  position: absolute;
//  bottom: 0px;
//  right: 5px;
//  color: dimgray;
//  font-size: 20px;
//}

.selectedAlien {
  border-radius:10px;
  box-shadow: 0px 0px 0px 1px
}

.zoom-in-area {
  width: 200px;
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  background-color: #9999ff
}

#zoomin-aliens {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.zoomin-alien {
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  margin: 10px 0px 10px 10px;
  border-radius: 10px;
}

.zoomin-alien img {
  width: 200px;
}

.zoomin-small-alien {
  outline-style: solid;
  outline-width: 1px;
  outline-color: red;
}

