#info-panel {
  position: absolute;
  top: 0px;
}

#score-info {
  font-family: "Lovelo Black";
  font-size: 20px;
  color: red;
}

#popup {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content {
  padding: 20px;
  color: grey;
}


#popup2 {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 160px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content2 {
  padding: 20px;
  color: grey;
}


#popup3 {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 160px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content3 {
  padding: 20px;
  color: grey;
}

#popup-content .btn {
  bottom: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  display: none;
}

.big {
  font-size: 15px !important;
  color: rgb(252, 61, 93) !important;
}

.small {
  font-size: 8px !important;
  font-family: "Signika" !important;
}

.title-font {
  font-family: 'Lovelo Black';
  font-size: 12px;
  font-weight: bold;
  color: white;
}

#bottom-right #score-board {
  left: 0;
  text-align: left;
}

.menu-button {
  margin: 5px;
  width: 200px;
  display: inline-block;
  color: #fff;
  background-color: rgb(69, 182, 138);
}

#bottom-right #group-container {
  display: block;
  text-align: center;
}

#bottom-right .add-colour {
  cursor: pointer;
}

#bottom-right .colour-error {
  display: none;
  position: absolute;
}


#buttons {
  z-index: 9;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 100px;
  text-align: center;
  background-color: #fac4ee;

  img {
    cursor: pointer;
  }

  background-color: rgb(250, 196, 238);
}

#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 3px #000000;
  color: rgb(255,121,121);
  font-size: 100px;
  font-family: 'Londrina Outline';
}

#img-container {
  text-align: center;
  img {
    width: 100%;
  }
}

#aliens {
  position: absolute;
  right: 0;
  margin: 10px 1.5% 100px 1.5%;

  img {
    z-index: 8;
    width: 100%;
  }
}

.alien {
  width: 9.5%;
  z-index: 8;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  display: inline-block;
  margin-right: 0.25%;
  margin-left: 0.25%;
  margin-bottom: 10px;
  cursor:pointer;
}

.illegal {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.5) 10px,
      rgba(255, 255, 255, 0.5) 30px
  )
}

.zoomed-alien {
  display: inline-block;
  border-radius: 10px;
  margin-right: 0.25%;
  margin-left: 0.25%;
  margin-bottom: 10px;
  cursor:pointer;

  img {
    height: 120px;
    width: auto;
  }
}

.similar {
  border: 5px solid rgb(255, 248, 75);
}

.menu-button-small {
  margin: 5px;
  width: 200px;
  display: inline-block;
  color: #fff;
  background-color: rgb(69, 182, 138);
}


#add-group-button {
  width: 150px;
  background-color: rgb(249,133,141);
  color: #fff;
  right: 162px;
  position: fixed;
  bottom: 45px;
}


#undo-button {
  width: 73px;
  height: 30px;
  background-color: #ffbb02;
  color: #fff;
  right: 234px;
  position: fixed;
  bottom: 80px;
  margin-right: 5px;

}

#redo-button {
  width: 73px;
  height: 30px;
  margin-left: 5px;
  background-color: #87fedb;
  color: #fff;
  right: 157px;
  position: fixed;
  bottom: 80px;
  margin-right: 5px;

}

#add-group {
  display: inline-block;
}

#end-button {
  width: 150px;
  position: fixed;
  bottom: 10px;
  background-color: rgb(54, 196, 255);
  right: 162px;
  color: #fff;
}

#current-group {
  margin-top: 3px;

}

#current-group-color {
  width: 50%;
  height: 20px;
  margin: 0 25% 0 25%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
}

.highlight-hover {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  -webkit-animation: bounceIn 1.5s;
  animation: bounceIn 1.5s;
}

.zoomed-highlight-hover {
  filter: grayscale(0.5);
}

#section {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  background: #ffffff;
  min-width: 150px;
}

.sidenav {
  height: 100%;
  position: fixed;
  top: 5px;
  left: 5px;
  transition: transform 0.3s;

  ::-webkit-scrollbar {
    display: none;
  }
}
