// #menu {
//   color: white;
//   position: fixed;
//   background-color: white;
//   border-radius: 20px;
//   width: 200px;
//   height: 140px;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   z-index: 10;
//   text-align: center;
//   display: none;
// }


#info-panel {
  position: absolute;
  top: 0px;
}

#score-info {
  font-family: "Lovelo Black";
  font-size: 20px;
  color: red;
}

#popup {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content {
  padding: 20px;
  color: grey;
}


#popup2 {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 160px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content2 {
  padding: 20px;
  color: grey;
}


#popup3 {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 160px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content3 {
  padding: 20px;
  color: grey;
}




#popup-content .btn {
  bottom: 0;
}

// #selection-screen {
//   position: fixed;
//   width: 90%;
//   z-index: 10;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.selected-alien img {
  width: 100%;
}

#close-selection-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  z-index: 20;
  font-weight: bold;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  display: none;
}

 #bottom-right {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 2px;
  z-index: 8;
}

#bottom-right .title-font {
  font-family: 'Lovelo Black';
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#bottom-right #score-board {
  left: 0;
  text-align: left;
}

.menu-button {
  margin: 5px;
  width: 200px;
  display: inline-block;
  color: #fff;
  background-color: rgb(69, 182, 138);
}

#bottom-right #group-container {
  display: block;
  text-align: center;
}

#bottom-right .add-colour {
  cursor: pointer;
}

#bottom-right .colour-error {
  display: none;
  position: absolute;
}

#bottom-right #score-board {
  margin-bottom: 0;
  float: left;
}

#bottom-right #score-board p {
  margin-top: 5px;
  display: inline-block;
}

#buttons {
  position: fixed;
  bottom: 47px;
  right: 10px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 70px;

  img {
    cursor: pointer;
  }

  background-color: rgb(250, 196, 238);
}

#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 3px #000000;
  color: rgb(255,121,121);
  font-size: 100px;
  font-family: 'Londrina Outline';
}

#img-container {
  text-align: center;
}

#img-container img {
  width: 100%;
}

#aliens {
  position: absolute;
  right: 0;
  margin: 10px 1.5% 100px 1.5%;


  //margin: 10px;
  //margin-bottom: 5em;
  //background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 5px;
  //padding: 2px;
}

#aliens img {
  z-index: 8;
  width: 100%;
}


// note: margins and in-line block are defined in html
.model0, .model1, .model2, .model3, .model4, .model5,
.model5, .model6, .model7, .model8, .model9, .illegal_alien{
  width: 9.5%;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
}


//
// .model0 img {
//   border-radius: 10px;
//   background-color: rgba(255,255,255,.5);
//   // background-color: rgba(230, 250, 255, 1);
// }
//
// .model1 img {
//   border-radius: 10px;
//   background-color: rgba(255, 230, 255, 1);
// }
//
// .model2 img {
//   border-radius: 10px;
//   background-color: rgba(179, 224, 255, 1);
// }
//
// .model3 img {
//   border-radius: 10px;
//   background-color: rgba(255, 224, 179, 1);
// }
//
// .model4 img {
//   border-radius: 10px;
//   background-color: rgba(255, 204, 204, 1);
// }
//
// .model5 img {
//   border-radius: 10px;
//   background-color: rgba(255, 255, 204, 1);
// }
//
// .model6 img {
//   border-radius: 10px;
//   background-color: rgba(236, 255, 179, 1);
// }
//
// .model7 img {
//   border-radius: 10px;
//   background-color: rgba(236, 217, 198, 1);
// }
//
// .model8 img {
//   border-radius: 10px;
//   background-color: rgba(153, 255, 187, 1);
// }
//
// .model9 img {
//   border-radius: 10px;
//   background-color: rgba(179, 255, 236, 1);
// }

.illegal_alien img {
  border-radius: 10px;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.5) 10px,
      rgba(255, 255, 255, 0.5) 30px
  )
}

.current_bucket {
  transform: scale(1.6);
  text-align: center;
  text-shadow: 0.2px 0 0 #000, -0.2px 0 0 #000, 0 0.2px 0 #000, 0 -0.2px 0 #000, 0.2px 0.2px #000,
  -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000;
  color: white;
}

// Pageslide
.ng-pageslide {
  background-color: rgba(255, 255, 255, 0);
  overflow: scroll !important;
  overflow-x: hidden;
}


.zoomed-alien {
  display: inline-block;
}

.zoomed-alien img {
  height: 120px;
  width: auto;
}

.similar-alien {
  //box-shadow: #FFD736 0 0 10px;
  border: 5px solid rgb(255, 248, 75);
}

.menu-button-small {
  margin: 5px;
  width: 200px;
  display: inline-block;
  color: #fff;
  background-color: rgb(69, 182, 138);
}


#add-group-button {
  width: 150px;
  background-color: rgb(249,133,141);
  color: #fff;
  right: 10px;
  position: fixed;
  bottom: 155px;
}


#undo-button {
  width: 72px;
  height: 30px;
  background-color: rgb(255,187,2);
  color: #fff;
  right: 6px;
  position: fixed;
  bottom: 121px;
  margin-right: 5px;
}

#redo-button {
  width: 72px;
  height: 30px;
  margin-left: 5px;
  background-color: rgb(135, 254, 219);
  color: #fff;
  right: 82px;
  position: fixed;
  bottom: 121px;
  margin-right: 5px;
}

#add-group {
  display: inline-block;
}

#end-button {
  width: 150px;
  position: fixed;
  bottom: 10px;
  background-color: rgb(54, 196, 255);
  right: 10px;
  color: #fff;
}

.highlight-hover {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  -webkit-animation: bounceIn 1.5s;
  animation: bounceIn 1.5s;
}

.zoomed-highlight-hover {
  filter: grayscale(0.5);
}

#section {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  background: #ffffff;
  min-width: 150px;
}

.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

