body {
  color: white;
}

// #menu {
//   color: white;
//   position: fixed;
//   background-color: white;
//   border-radius: 20px;
//   width: 200px;
//   height: 140px;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   z-index: 10;
//   text-align: center;
//   display: none;
// }

#popup {
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  display: none;
}

#popup-content {
  padding: 20px;
  color: grey;
}

#popup-content .btn {
  bottom: 0;
}

// #selection-screen {
//   position: fixed;
//   width: 90%;
//   z-index: 10;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.selected-alien img {
  width: 100%;
}

#close-selection-screen {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  z-index: 20;
  font-weight: bold;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  display: none;
}

 #bottom-right {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 2px;
  z-index: 8;
}

#bottom-right .title-font {
  font-family: 'Londrina Outline';
  font-size: 2em;
  font-weight: bold;
  color: black;
}

#bottom-right #score-board {
  left: 0;
  text-align: left;
}

.menu-button {
  margin: 5px;
  width: 70px;
  display: inline-block;
  color: #fff;
  background-color: #9999ff;
}

#bottom-right #group-container {
  display: block;
  text-align: center;
}

#bottom-right .add-colour {
  cursor: pointer;
}

#bottom-right .colour-error {
  display: none;
  position: absolute;
}

#bottom-right #score-board {
  margin-bottom: 0;
  float: left;
}

#bottom-right #score-board p {
  margin-top: 5px;
  display: inline-block;
}

#bottom-right #buttons {
  position: fixed;
  bottom: 0;
  right: 0;
}

#feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 3px #000000;
  color: rgb(255,121,121);
  font-size: 100px;
  font-family: 'Londrina Outline';
}

#img-container {
  text-align: center;
}

#img-container img {
  width: 100%;
}

#aliens {
  margin: 10px;
  margin-bottom: 5em;
  //background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 5px;
  //padding: 2px;
}

#aliens img {
  z-index: 8;
  width: 100%;
}

.model0, .model1, .model2, .model3, .model4, .model5,
.model5, .model6, .model7, .model8, .model9, .illegal_alien{
  width: 100px;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
}
//
// .model0 img {
//   border-radius: 10px;
//   background-color: rgba(255,255,255,.5);
//   // background-color: rgba(230, 250, 255, 1);
// }
//
// .model1 img {
//   border-radius: 10px;
//   background-color: rgba(255, 230, 255, 1);
// }
//
// .model2 img {
//   border-radius: 10px;
//   background-color: rgba(179, 224, 255, 1);
// }
//
// .model3 img {
//   border-radius: 10px;
//   background-color: rgba(255, 224, 179, 1);
// }
//
// .model4 img {
//   border-radius: 10px;
//   background-color: rgba(255, 204, 204, 1);
// }
//
// .model5 img {
//   border-radius: 10px;
//   background-color: rgba(255, 255, 204, 1);
// }
//
// .model6 img {
//   border-radius: 10px;
//   background-color: rgba(236, 255, 179, 1);
// }
//
// .model7 img {
//   border-radius: 10px;
//   background-color: rgba(236, 217, 198, 1);
// }
//
// .model8 img {
//   border-radius: 10px;
//   background-color: rgba(153, 255, 187, 1);
// }
//
// .model9 img {
//   border-radius: 10px;
//   background-color: rgba(179, 255, 236, 1);
// }

.illegal_alien img {
  border-radius: 10px;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, .5) 10px,
      rgba(255, 255, 255, .5) 30px
  )
}

.current_bucket {
  transform: scale(1.6);
  text-align: center;
  text-shadow: 0.2px 0 0 #000, -0.2px 0 0 #000, 0 0.2px 0 #000, 0 -0.2px 0 #000, 0.2px 0.2px #000,
  -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000;
  color: white;
}

.selectedAlien {
  border-radius:10px;
  box-shadow: 0px 0px 0px 1px
}

.zoom-in-area {
  width: 200px;
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  background-color: #9999ff
}

#zoomin-aliens {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.zoomin-alien {
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  margin: 10px 0px 10px 10px;
  border-radius: 10px;
}

.zoomin-alien img {
  width: 200px;
}

.zoomin-small-alien {
  outline-style: solid;
  outline-width: 1px;
  outline-color: red;
}
