.alien{
  display: inline;
  z-index: 2;
}

.bucket_alien{
  z-index: 3;
}

.container {
  margin-top: 50px;
}

.group {
  margin-bottom: 20px;
  width: 9%;
  display:inline-block;
  border-radius: 10px;
  border: 1px solid dimgray;
}


#img-container {
  position: fixed;
  top: 50px;
  right: 170px;
}

#buckets {
  position: fixed;
  bottom: 0px;
  background-color: #CCFE96;
  width: 100%;
  height: 170px;
}

.bucket {
  position: relative;
  display:inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.bucket .actual-bucket {
  position: relative;
  margin: 30px 25px 30px 25px;
  width: 100px;
  height: 90px;
  z-index: 1;
}

.bucket .remove_bucket {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: dimgray;
  font-size: 20px;
}

#add-bucket {
  display: inline-block;
  position: inherit;
  color: white;
  margin-left: 10px;
  font-size: 50px;
  font-weight: bold;
}

.nextButton{
  width:70px;
  height: 30px;
  position: relative;
  display:inline-block;
  margin-left: 30px;
  overflow: hidden;
  text-align: center;
  background-color:#CCFE96;
  border-radius: 10px;
  text-indent:0px;
  color:#ffffff;
  font-size:40px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
  text-shadow:1px 1px 0px gray;
  cursor:pointer;
}

.allNextButton{
  width:70px;
  height: 30px;
  position: absolute;
  bottom: 200px;
  left: 500px;
  overflow: hidden;
  text-align: center;
  background-color:#CCFE96;
  border-radius: 10px;
  text-indent:0px;
  color:#ffffff;
  font-size:40px;
  font-weight:bold;
  font-style:normal;
  margin-top:10px;
  text-decoration:none;
  text-shadow:1px 1px 0px gray;
  cursor:pointer;
}

