<div id="overlay"></div>
<div id="clear-overlay" ng-click="toggleIllegalAlert()"></div>
<div id="clear-nobucket-alert-overlay" ng-click="toggleNoBucketAlert()"></div>
<!-- menu -->
<!-- <div id="menu">
  <button class="btn menu-button" ng-click="toggleMenu()">RESUME</button><br/>
  <button class="btn menu-button" ng-click="quit()">QUIT GAME</button><br/>
  <button class="btn menu-button" ng-click="logout()">LOG OUT</button>
</div> -->

<div id="popup">
  <div id='popup-content'>
    <p class='alert-msg'></p>
    <button class="btn menu-button yes-button" ng-click="handleButtonRequest()">Yes</button>
    <button class="btn menu-button" ng-click="togglePopup('', '')">No</button>
  </div>
</div>

<!--<div id="popup2">-->
  <!--<div id='popup-content2'>-->
    <!--<button class="btn menu-button" ng-click="setUpGame('best')">Play from best matching so far</button>-->
    <!--<br/>-->
    <!--<button class="btn menu-button" ng-click="setUpGame('saved')">Continue from saved game</button>-->
    <!--<br/>-->
    <!--<button class="btn menu-button" ng-click="setUpGame('scratch')">Start from scratch</button>-->
    <!--<br/>-->
  <!--</div>-->
<!--</div>-->
<!--<h3><timer/></h3>-->

<div id="popup3">
  <div id='popup-content3'>
    <button class="btn menu-button" ng-click="quit()">Yes</button>
    <button class="btn menu-button" ng-click="endGame()">Cancel</button>
    <br/>
  </div>
</div>


<div id="player-selected-seed" class="text-center">
  Are you sure you want to change your current match client?
  <br>
  <button class="btn menu-button" ng-click="playerSelectedFadeOut();getNextSeed(playerSelectedSeed)">Yes</button>
  <button class="btn menu-button" ng-click="playerSelectedFadeOut()">Cancel</button>
</div>



<div id="replace-popup">
  <div class="popup-title">This alien has an enemy.</div>
  <div id='replace-popup-content'><br/>
    <img ng-src="{{aliens.alienArray[aliens.newId].url}}"
          style=""/>
    <span class="glyphicon glyphicon-share-alt"></span>
    <img ng-src="{{aliens.alienArray[aliens.oldId].url}}" class='replaced'
          style=""/><br/>
    <button class="btn menu-button" ng-click="selectIllegalAlien(true)">Replace</button>
    <button class="btn menu-button" ng-click="selectIllegalAlien(false)">Cancel</button>
  </div>
</div>

<div id="no-buck" class="no-bucket text-center">
  Sorry, this action cannot be completed.<br>
  You did not select a group.
</div>



<div id="ingame-leaderboard2" class="text-center">
<div class="bg">
<div class="col-xs-3"></div>
<div class="col-xs-6">

<div id="ingame-leaderboard-content2">
<p class='blink' ng-show="!gotLeaderBoard">Please wait while we save your earnings. It may take a while.</p>
<p ng-show="!submittedScore">(If nothing happens after a couple of minutes, please click <span ng-click="targetReachedGetNext()" style="pointer:cursor; color:rgb(102,167,227)">here</span>.)</p>


<p ng-show="gotLeaderBoard">Your total earnings are now <span class="score">${{overallScore}}</span> and
your rank is now <span class="score">{{overallScoreRank||unranked}}</span>.</p>
<br/>
<table class="table text-center" ng-show="gotLeaderBoard">
<thead>
<tr>
<th class="text-center">Player</th>
<th class="text-center">Earnings</th>
</tr>
</thead>
<tbody>
<tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
<td>{{ score.user }}</td>
<td>{{ score.overallScore }}</td>
</tr>
</tbody>
</table>
<button class="btn menu-button-small" ng-click="getNextClient()" ng-show="gotLeaderBoard">Get next client</button>
<button class="btn menu-button-small" ng-click="quit()" ng-show="gotLeaderBoard">Exit</button>
</div>
  </div>
  </div>
</div>


<div id="ingame-leaderboard" class="text-center">
  <div class="bg">
    <div class="col-xs-12">
      <div>
        <div class="col-xs-3"></div>
        <div class="col-xs-6">

          <div id="ingame-leaderboard-content">
            <p>Congrats, you beat the target!</p>
            <br/>
            <p class='blink' ng-show="!gotLeaderBoard">Please wait while we save your earnings. It may take a while.</p>
            <p ng-show="!submittedScore">(If nothing happens after a couple of minutes, please click <span ng-click="targetReachedGetNext()" style="pointer:cursor; color:rgb(102,167,227)">here</span>.)</p>


            <p ng-show="gotLeaderBoard">You've added {{score - initialScore}} to your total earnings.</p>
            <br/>
            <table class="table text-center" ng-show="gotLeaderBoard">
              <thead>
                <tr>
                  <th class="text-center">Player</th>
                  <th class="text-center">Earnings</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-show="score.overallScore > 0" ng-repeat="score in scores">
                  <td>{{ score.user }}</td>
                  <td>{{ score.overallScore }}</td>
                </tr>
              </tbody>
            </table>
            <!--<button class="btn menu-button-small" ng-click="hideLeaderboard()" ng-show="gotLeaderBoard">Continuing improving this group</button>-->
            <button class="btn menu-button-small" ng-click="getNextGalaxy()" ng-show="gotLeaderBoard">Get next client</button>
            <button class="btn menu-button-small" ng-click="quit()" ng-show="gotLeaderBoard">Exit</button>
          </div>
        </div>

        <div class="col-xs-3"></div>
      </div>
    </div>
  </div>

</div>

<div id="cant-remove" class="text-center">
  Sorry, you cannot remove this alien. <br>
  You must include it in a grouping that beats
  the target score.
</div>

<div id="start-over" class="text-center">
  Are you sure you would like to start over?<br>
  You will be given a new alien.
  <br>
  <button class="btn menu-button-small" ng-click="getNextSeed()">Yes</button>
  <button class="btn menu-button-small" ng-click="startOverHide();">Cancel</button>
</div>

<div id="skip-level" class="text-center">
  Are you sure you would like to skip this galaxy?<br>
  You will receive match clients from other galaxies instead.
  <br>
  <button class="btn menu-button-small" ng-click="getNextGalaxy()">Yes</button>
  <button class="btn menu-button-small" ng-click="skipLevelHide();">Cancel</button>
</div>


<div id="log-in" class="text-center">
  You have been logged out. Please sign in <a ui-sref="auth">here</a>.
</div>



<span id="feedback">{{feedback}}</span> <span id="small_feedback"></span>

<!-- Zoomed aliens -->
<!--<div id="selection-screen">-->
<!--<div ng-repeat="alien in selectedAliens"-->
<!--class="model{{get_model(alien)}}"-->
<!--style="white-space: nowrap;-->
<!--display: inline-block;-->
<!--width: 22%;-->
<!--margin: 10px 10px 10px 10px;-->
<!--background-color: white;-->
<!--border-radius: 10px;">-->
<!--<div class="selected-alien"-->
<!--ng-click="selectAlien(alien)">-->
<!--<img ng-src="{{getUrl(get_model(alien), get_alien(alien))}}" />-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="close-selection-screen" ng-click="toggleSelectionScreen()">×</div>-->

<!-- alien contents -->
<div id="top-right">
  <!-- <div class="zoom-in-area"
          ng-click="togglePageslide()"
          data-drop="true"
          jqyoui-droppable="{onDrop:'onDropZoom'}">
    <span class="glyphicon glyphicon-zoom-in" size='50px'></span>
  </div> -->
  <div id="img-container"></div>
</div>

<div id="bottom-right">
  <!-- info -->
  <!--<div class="text-center" id="score-board">-->
  <!--<span class='title-font'>YOUR SCORE: <span count-to="{{score}}" value="{{prev_score}}" duration="0.5"></span></span><br/>-->
  <!--<span class='title-font'>BEST SCORE EVER: {{highest_score}}</span>-->
  <!--</div>-->

  <!-- colour list -->
  <!--<div id="add-group text-center">-->
  <!--<p class='colour-error'>You have an empty bucket!</p>-->
  <!--<button id="add-group-button" class="btn" ng-click="newGroup()">Add new group</button>-->
  <!--</div>-->

  <div id="buttons3" ng-show="loaded">
    <!-- error message -->
    <!--<p class='colour-error'>You have an empty bucket!</p>-->
    <button id="redo-button" class="btn" ng-click="redo()" ng-if="!disableRedo">Redo</button>
    <button id="dummy-redo-button" class="btn" ng-if="disableRedo">Redo</button>
    <button id="undo-button" class="btn" ng-click="undo()" ng-if="!disableUndo">Undo</button>
    <button id="dummy-undo-button" class="btn" ng-if="disableUndo">Undo</button>
    <button id="add-group-button" class="btn" ng-click="getNextGalaxy()">Skip this client</button>
    <!--<button id="done-button" class="btn" ng-click="doneBucket()">Calculate Score</button>-->
    <div class='title-font score3 big'>SCORE: $<span count-to="{{score - initialScore}}" value="{{prev_score - initialScore}}" duration="1" ng-show="doneSeeding"></span></div>
    <div class='title-font target big'>TARGET: $<span ng-show="doneSeeding && doneGetFakeLevel">{{targetScore}}</span></div>
    <!--<button id="end-button3" class="btn" ng-click="skipLevel()">Skip this galaxy</button>-->
    <button id="end-button" class="btn" ng-click="endGame()">End game</button>

    <!--<div id="current-group">-->
      <!--<span class="title-font">Current group:</span>-->
      <!--<div ng-click="goToGroup()" id="current-group-color" style="background:{{bucket.buckets[bucket.current_bucket].color}}">-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="title-font small">(Click to go to group)</div>&ndash;&gt;-->
    <!--</div>-->
  </div>



  <!--<div id="buttons">-->
  <!--&lt;!&ndash; <button class="btn menu-button" ng-init="moveAliens = false" ng-click="moveAliens = !moveAliens">{{moveAliens}}</button> &ndash;&gt;-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to save the score?', 'submit')">Submit</button><br/>-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to save the score?', 'save')">Save</button><br/>-->
  <!--<button class="btn menu-button-small" ng-click="togglePopup('Do you want to quit the game?', 'quit')">Quit</button><br/>-->
  <!--</div>-->
</div>

<!-- <div id="aliens">
  <div ng-repeat="alien in aliens.alienArray | toArray"
       class="alien {{alien.id}} {{alien.illegal}} {{alien.similar}}"
       ng-click="selectAlien(alien.id)"
       ng-right-click="showGroup(alien.id)"
       style="background-color: {{alien.color}};">
    <img src="{{alien.url}}"/>
  </div>
</div> -->


<div id="aliens" style='' ng-show="loaded">
  <div ng-repeat="id in bucket.orderedIds">
    <div class="an-alien alien {{id}} {{aliens.alienArray[id].illegal}} {{aliens.alienArray[id].similar}} {{aliens.alienArray[id].isHidden}}"
         ng-click="selectAlien(id, false)"
         ng-right-click="pickSeed(id)"
         style="border-style:solid; border-width: 2vw; border-color: {{aliens.alienArray[id].color}};"
         ng-if="id[0] != '_'">

      <img src="{{aliens.alienArray[id].url}}" imageonload="imageLoadedIncrementCount()"/>
      <div class="simialrity-bar" ng-show='{{aliens.alienArray[id].similarityBar != -1}}'>
        <div class="similarity" style="width: {{aliens.alienArray[id].similarityBar}}%;"></div>
      </div>
    </div>
    <div class="empty-alien" ng-if="id[0] == '_'"></div>
  </div>
</div>



<div id='current-aliens'>
  <!--<button id="seed-button" class="btn" ng-show="!doneSeeding && loaded" ng-click="seedInitialAlien()">-->
  <!--<span id="seed-span">-->
  <!--Get your-->
  <!--FIRST alien!-->
  <!--</span>-->

  <!--</button>-->
  <div ng-repeat="id in bucket.currentAliens"
       class="current-alien {{id}}"
       ng-click="selectAlien(id, false)"
       ng-right-click="pickSeed(id)"
       style="border-style:solid; border-width: 1.5vw; border-color: {{aliens.alienArray[id].color}};"
       ng-show="loaded">
    <img src="{{aliens.alienArray[id].url}}"/>
    <div class="simialrity-bar" ng-show='{{aliens.alienArray[id].similarityBar != -1}}'>
      <div class="similarity" style="width: {{aliens.alienArray[id].similarityBar}}%;"></div>
    </div>
  </div>
</div>

<div ng-show="!loaded" class="loading text-center">
  <img   src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif"/>
  <div>(Due to the large number of images, the game might not load immediately. If you do not see any images after 5 seconds, please refresh the page. You might need to refresh multiple times. Sorry for the inconvenience, we will fix it soon!)</div>
</div>
