#play-now-button {
  float: right;
  margin: 20px;
  background-color: rgb(250, 83, 95);
  color: white;
  font-size: 30px;
}

#next-button {
  width: 20%;
  margin: 20px 20px 40% 40%;
  background-color: rgb(250, 83, 95);
  color: white;
  font-size: 30px;
}


.large {
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
}


#main-page {
  p {
    color: grey;
  }

  h1 {
    color: rgb(69, 182, 138);
    text-align: center;
  }

  img {
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50%;
    margin: 15px 25% 15px 25%;
  }
}


#about {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
}

#prize {
  background-color: #FFFC8A;
  border-radius: 5px;
  padding: 30px;
  font-size: 20px;
  color: gray;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  b {
    color: red;
  }
}
