<div id="overlay"></div>

<div id="popup">
  <div id='popup-content'>
    <p class='alert-msg'></p>
    <button class="btn menu-button yes-button" ng-click="handleButtonRequest()">Yes</button>
    <button class="btn menu-button" ng-click="togglePopup('', '')">No</button>
  </div>
</div>

<div id="popup2">
  <div id='popup-content2'>
    <button class="btn menu-button" ng-click="setUpGame('best')">Play from best matching so far</button>
    <br/>
    <button class="btn menu-button" ng-click="setUpGame('scratch')">Start from scratch</button>
    <br/>
  </div>
</div>

<div id="popup3">
  <div id='popup-content3'>
    <button class="btn menu-button" ng-click="submitScore()">Submit score</button>
    <br/>
    <button class="btn menu-button" ng-click="endGame()">Resume</button>
    <br/>
    <button class="btn menu-button" ng-click="quit()">Quit</button>
    <br/>
  </div>
</div>

<span id="feedback">{{feedback}}</span> <span id="small_feedback"></span>

<div id="bottom-right">
  <div id="buttons">
    <!-- error message -->
    <!--<p class='colour-error'>You have an empty bucket!</p>-->

    <button id="add-group-button" class="btn" ng-click="newGroup()">Add new group</button>
    <button id="undo-button" class="btn" ng-click="redo()">Redo</button>
    <button id="redo-button" class="btn" ng-click="undo()">Undo</button>
    <button id="end-button" class="btn" ng-click="endGame()">End game</button>

    <span class='title-font'>SCORE: <span count-to="{{score}}" value="{{prev_score}}" duration="0.5"></span></span><br/>
    <span class='title-font'>BEST EVER: {{highest_score}}</span>
  </div>
</div>

<!--display aliens in grid-->
<!--ng-mouseenter="highLight(alien.id)"-->
<!--ng-mouseleave="lowLight()"-->
<div id="aliens">
  <div ng-repeat="alien in zoominAliens"
       ng-mouseover="selectedAlien(alien.id)"
       class="alien {{alien.illegal}}"
       id="{{alien.id}}"
       ng-click="selectAlien(alien.id)"
       ng-right-click="showGroup(alien.id)"
       style="display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: {{alien.color}};">
    <img src="{{alien.url}}"/>
  </div>
</div>
