body {
  color: white;
}

#aliens {
  margin: 10px;
  margin-bottom: 5em;
  //background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 5px;
  //padding: 2px;
}

#aliens img {
  z-index: 8;
  width: 100%;
}

.alien {
  width: 200px;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
}

.illegal {
  border-radius: 10px;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 25px,
      rgba(255, 255, 255, .5) 10px,
      rgba(255, 255, 255, .5) 30px
  )
}

.current_bucket {
  transform: scale(1.6);
  text-align: center;
  text-shadow: 0.2px 0 0 #000, -0.2px 0 0 #000, 0 0.2px 0 #000, 0 -0.2px 0 #000, 0.2px 0.2px #000,
  -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000;
  color: white;
}

.zoomed-alien {
  display: inline-block;
}

.zoomed-alien img {
  height: 200px;
  width: auto;
}

#end-button {
  z-index: 1000;
}
