.back-button2 {
  background-color: rgb(69, 182, 138);
  margin: 10px;
  font-size: 30px;
  color: white;
}


#howto {
  p {
    color: grey;
  }

  h1 {
    color: rgb(69, 182, 138);
    text-align: center;
  }

  img {
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 50%;
    margin: 15px 25% 15px 25%;
    background-color: rgb(240,240,240);
  }

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
}

.smaller {
  width: 30% !important;
  margin: -2px 35% 10px 35% !important;
}
