.heading{
  font-family: 'Lovelo Black';
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: 40px;
  letter-spacing: -2px;
}

.inline {
  margin: 50px;
  display: inline-block;
}

.planet {
  cursor: pointer;
}
