.heading{
  font-family: 'Lovelo Black';
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: 40px;
  letter-spacing: -2px;
}

.inline {
  margin: 50px;
  display: inline-block;
}

.planet {
  cursor: pointer;
}

.choose-mode {
  div {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(69, 182, 138);
    background-color: #bbe5fc;
    border-wdith: 5px;
    font-family: "Signika";
    font-size: 17px;
    color: rgb(69, 182, 138);
    padding: 3px;

    cursor: pointer;

    /* Safari */
    -webkit-transform: rotate(-30deg);

    /* Firefox */
    -moz-transform: rotate(-30deg);

    /* IE */
    -ms-transform: rotate(-30deg);

    /* Opera */
    -o-transform: rotate(-30deg);
  }
}


#mode1 {
  position: fixed;
  bottom: 120px;
  left: 150px;
}

#mode2 {
  position: fixed;
  bottom: 75px;
  left: 160px;

}
