<section id="login">
  <div class="">
    <div class="col-xs-12">
      <h3 id="title" class="text-center">M A T C H A L I E N S</h3>
      <br>
      <div class="form-wrap">
        <form ng-submit="process()">
          <div class="form-group">
            <input id="name" type="text" placeholder="Username" ng-model="username" required="" autofocus="" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input id="pass" type="password" placeholder="Password" ng-model="password" required="" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input id="btn-login" type="submit" value="Continue" class="btn btn-login btn-lg btn-block">
          </div>
        </form>
        <div class="forget">
          <alert type="danger" ng-show="message">{{message}}</alert>Don&apos;t have an account?<a ui-sref="signup"> Sign up!</a>
        </div>
      </div>
    </div>
  </div>
</section>
