<section id="login">
  <div class="">
    <div class="col-xs-12">
      <div id="title" class="text-center">
        <span class="animated bounceInDown a-one"><span class="hvr-buzz">M</span></span>
        <span class="animated bounceInDown a-two"><span class="hvr-buzz">A</span></span>
        <span class="animated bounceInDown a-three"><span class="hvr-buzz">T</span></span>
        <span class="animated bounceInDown a-four"><span class="hvr-buzz">C</span></span>
        <span  class="animated bounceInDown a-five"><span class="hvr-buzz">H</span></span>
        <span class="animated bounceInDown a-six"><span class="hvr-buzz">A</span></span>
        <span class="animated bounceInDown a-seven"><span class="hvr-buzz">L</span></span>
        <span class="animated bounceInDown a-eight"><span class="hvr-buzz">I</span></span>
        <span class="animated bounceInDown a-nine"><span class="hvr-buzz">E</span></span>
        <span class="animated bounceInDown a-ten"><span class="hvr-buzz">N</span></span>
        <span class="animated bounceInDown a-eleven"><span class="hvr-buzz">S</span></span>
      </div>
      <br>
      <div class="form-wrap">
        <form ng-submit="process()">
          <div class="form-group">
            <input id="name" type="text" placeholder="Username" ng-model="username" required="" autofocus="" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input id="pass" type="password" placeholder="Password" ng-model="password" required="" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input id="btn-login" type="submit" value="Continue" class="btn btn-login btn-lg btn-block">
          </div>
        </form>
        <div class="forget">
          <alert type="danger" ng-show="message">{{message}}</alert>Don&apos;t have an account?<a ui-sref="signup"> Sign up!</a>
        </div>
      </div>
    </div>
  </div>
</section>
